<% layout('layout') -%>

<div class="wrapper my-5">
  <h4 class="product-heading mb-4">
    <i class="fas fa-search"></i> Search Results for: "<%= search_term %>"
  </h4>
  <hr />
  <% if (products.length === 0) { %>
  <div class="empty-state">
    <img class="rounded" src="/assets/no-product-found.png" alt="" />
    <h4>No products found</h4>
    <p class="text-muted">Try searching with different keywords</p>
    <a class="btn btn-primary btn-round" href="/products">Browse All Products</a>
  </div>
  <% } else { %>

  <div class="list-group">
    <% for (var i=0; i< products.length; i++) { %>
    <span class="list-group-item">
      <div class="row align-items-center">
        <div class="col-md-3 text-center">
          <img class="img-fluid searchedProduct__images" src="<%= products[i].image %>" alt="" />
        </div>
        <div class="col-md-7">
          <h2 class="searched-product__heading"><%= products[i].name %></h2>
          <p class="searched-product__description"><%= products[i].description %></p>
          <p class="searched-product__price">
            <i class="fas fa-rupee-sign"></i> <%= products[i].price %>
          </p>
        </div>
        <div class="col-md-2 text-center">
          <a class="btn btn-outline-info btn-round" href="/product/<%= products[i]._id %>">
            <i class="fas fa-eye"></i> View
          </a>
        </div>
      </div>
    </span>
    <% } %>
  </div>
  <% } %>
</div>
